<% if(typeof errors != 'undefined'){ %>
    <% errors.forEach(function(error ){ %>
      <div class="alert alert-warning alert-dismissible " role="alert">
         <%= error.msj %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
   <% }); %>
  <% } %>
  
  <% if(success_msj != '') { %>
    <div class="alert alert-success alert-dismissible " role="alert">
      <%= success_msj %>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
  <% } %>
  
  <% if(error_msj != '') { %>
    <div class="alert alert-warning alert-dismissible " role="alert">
      <%= error_msj %>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
  <% } %>
  
  <% if(error != '') { %>
    <div class="alert alert-warning alert-dismissible " role="alert">
      <%= error %>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
  <% } %>